<main>
  <%= link_to "Back", department_sectors_path %>

  <div class="header">
    <h1>New sector</h1>
  </div>

  <%= turbo_frame_tag @sector do %>
    <%= render "form", sector: @sector %>
  <% end %>
</main>
